.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 730px;
}
.container {
    width: 1170px;
}
.container {
    width: 970px;
}
.container {
    width: 750px;
}
.main{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Repeat columns without needing to write them */
    grid-template-rows: 1rem 10% auto repeat(5, 10px); /* Mix any group, same rules work for rows */
}

.sidebar{
    grid-column: 1/4;
    grid-row: 1/12;
    height: 100px;
    background: lime;
}
.grid-small-box{
    grid-column: 4/5;
    grid-row: 2/3;
    background: yellowgreen;
}